body {
    background-color: darkblue;
}
h1 {
    color: white;
    font-family: verdana;
    font-size: 300%;
    text-align:center;
}
p  {
    color: white;
    font-family: verdana;
    font-size: 160%;
    text-align:center;
}
a:link { 
    color: white;
    font-family: calibri;
    font-size: 160%;
}
ul { 
    color: white;
    font-family: verdana;
    font-size: 100%;
}
h2 {
    color: white;
    font-family: verdana;
    font-size: 120%;
}
a:visited { 
    color: white;
    background-color:lightblue;
    text-decoration:none;
}
a:visited { 
    color: lightblue;
    background-color:black;
    text-decoration:none;
}
a:hover { 
    color:white;
    background-color:darkblue;
    text-decoration:underline;
}
table.th.td {
    border:1px solid white;
    border-collapse:collapse;
}
TH {
    color: white;
    font-family: verdana;
    font-size: 160%;
}
TD  {
    color: white;
    font-family: verdana;
    font-size: 160%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}
div.cities {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
} 